.resume {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.5rem;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;

    .header {
      &__title {
        font-size: 2rem;
      }

      &__description {
        color: $--global-color-dark-700;
        font-size: 1rem;
      }
    }
  }

  &__timeline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0rem;
    width: 100%;
    height: max-content;
    margin: 0;
    padding: 0;

    .timeline__item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 0.4rem;
      padding: 1rem 0;
      padding-left: 4rem;

      .item {
        &__title {
          font-size: 1.3rem;
        }

        &__description {
          color: $--global-color-dark-700;
          font-size: 1rem;
        }
      }

      &::after,
      &::before {
        content: '';
        position: absolute;
        left: 1rem;
        display: block;
        background-color: $--global-color-dark;
      }

      &::after {
        top: 50%;
        transform: translate(-50%, -50%);
        width: 1rem;
        height: 1rem;
        background-color: #ffffff;
        border: 2px solid $--global-color-dark;
        border-radius: 50%;
      }

      &::before {
        top: 0;
        transform: translateX(-50%);
        height: 100%;
        width: 2px;
      }
    }
  }
}
