$--global-color-dark: rgba(15, 15, 15, 1);
$--global-color-dark-900: rgba(15, 15, 15, 0.9);
$--global-color-dark-800: rgba(15, 15, 15, 0.8);
$--global-color-dark-700: rgba(15, 15, 15, 0.7);
$--global-color-dark-600: rgba(15, 15, 15, 0.6);
$--global-color-dark-500: rgba(15, 15, 15, 0.5);
$--global-color-dark-400: rgba(15, 15, 15, 0.4);
$--global-color-dark-300: rgba(15, 15, 15, 0.3);
$--global-color-dark-200: rgba(15, 15, 15, 0.2);
$--global-color-dark-100: rgba(15, 15, 15, 0.1);

$--global-color-light: rgba(255, 255, 255, 1);

$--global-nav-width: 100%;
$--global-nav-height: 60px;
$--global-padding: 80px;
